@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@500;600;700;800;900&display=swap");

/* Global Styles */
:root {
  --primary-color: #003699;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

html {
  scroll-behavior: smooth;
}

.address-list {
  list-style: none;
}

.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
  border-radius: 5px;
}

.alert-light {
  background: var(--light-color);
  color: #333;
}

.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.alert-success {
  background: var(--success-color);
  color: #fff;
}

.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn {
  margin: 1rem;
}

.navbar-brand {
  cursor: default;
}

.map {
  height: 35vh;
  width: 30vw;
}

.map-text {
  text-align: center;
  font-size: 10px !important;
}

.location-icon {
  font-size: 2.5rem;
  color: rgb(0, 139, 139);
}

.landing {
  background: url("./landing.jpg") no-repeat center center fixed;
  background-size: cover;
  background-blend-mode: screen;
  background-color: #031818;
  height: 100vh;
  overflow: auto;
}

#features {
  background: linear-gradient(#008b8b, rgb(152, 243, 238));
  height: 100%;
}

#development {
  background: url("./open-source.png") no-repeat center center fixed;
  background-size: cover;
  background-blend-mode: screen;
  background-color: #031818;
  height: 90vh;

  overflow: auto;
}
