node_modules/
# /config/production.json
/config/default.json

/client/build

/client/.eslintcache

.DS_Store
/client/.env
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/package-lock.json

client/.eslintcache
        client/package-lock.json
        package.json