body {
    background-image: url("../assets/images/warehouse-splash-lower-res.jpg");
    background-size: cover;
}

nav {
    background-color: yellow;
}

.dropdown-menu {
    background-color: yellow;
}

