body {
    /* background-image: url("../../assets/images/warehouse-splash-lower-res.jpg"); */
    background-image: url("../images/warehouse-splash-lower-res.jpg");
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    position: fixed;
    background-color: yellow;
    height: 70px;
}

.jumbotron {
    background-color: yellow;
    margin-top: 10%;
    margin-left: 10%;
}

.btn {
    background-color: black;
    color: yellow;
}

.displayIcons {
    height: 120px;
    width: 120px;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}