<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs"); %>
  </head>
  <body>
    <%- include("../partials/navbar.ejs"); %>

    <main class="container-fluid">
      <!-- * Row 1 -->
      <div class="row">
        <div class="col text-center">
          <h1>About Open House CRM</h1>
        </div>
      </div>
      <!-- * Row 2 -->
      <div class="row">
        <div class="col text-center info-panel">
            <h3>Open House is open source</h3>
          <p>
            The vision for Open House CRM is to allow developers the ability to
            customize a professional CRM platform for their small business and
            self-employed clients. A customer relationship management (CRM)
            application allows business owners to store customer and transaction
            data in a central place and provide a dashboard to view key metrics
            and data about their customers and business.
          </p>
          <p>
            Open House was developed with real estate professionals in mind but
            can be adapted to most business models.
          </p>
          <button type="button" class="btn btn-info devlog-btn">Developer Log</button>
          <hr />
        </div>
      </div>
      <!-- * Row 3 -->
      <div class="row">
        <div class="col text-center info-panel">
          <h3>What is open source?</h3>
          <p>
            Open source is a development philosophy where the developers of a
            piece of software believe the source code should be made publicly
            available at no charge. This allows other developers to take the
            original code, modify it, contribute to it, apply it to other
            projects. Open source software is also developed by a community.
            Anyone can contribute to the source code which makes open source
            projects more secure and dynamic than privately developed code
            bases. Since the source code is public and can be audited and
            corrected by anyone, open source projects tend to have few instances
            of malware susceptibility.
          </p>
          <p>
            Just because a piece of software is open source doesn't mean it is
            without restrictions on how it can be used. Open House CRM was
            created under the
            <a href="https://www.gnu.org/licenses/quick-guide-gplv3.en.html">
              GNU Public License V3.0</a
            >. Follow the link to learn more about how Open House CRM can be
            used under the GNU General Public License V3.0.
          </p>
          <hr />
        </div>
      </div>
      <!-- * Row 4 -->
      <div class="row">
        <div class="col text-center info-panel">
          <h3>Open source is everywhere</h3>
          <p>
            If this all sounds strange and confusing, you may be surprised to
            find out that much of the technology you already rely on in your
            daily life was developed or has its roots in open source design.
            Some examples of popular open source technology are:
          </p>
        </div>
      </div>
      <!-- * Row 5 -->
      <div class="row">
        <div class="col text-center info-panel">
          <ul>
            <li>
              <a href="https://www.android.com/">Android OS</a> - Google built
              the Android OS to be an open source platform for smart phones,
              tablets, and other computing devices. This allows hardware
              manufacturers and app designers to customize the Android
              experience to an endless degree giving more control to users over
              their hardware.
            </li>
            <li>
              <a href="https://www.blender.org/">Blender</a> - Blender is a 3-D
              modeling application that is 100% free to use for business or
              personal use. Maintained by a large and enthusiastic community,
              Blender is finding its way into more and more projects of all
              sizes including TV, video games, movies, and more.
            </li>
            <li>
              <a href="https://linux.org/">Linux</a> - Linux is an operating
              system like Windows or MacOS that is completely open source. It
              powers countless devices across the world. From tiny computerized
              gadgets, to vehicles, to massive server farms, Linux is there as
              the backbone. Linux is secure, lightweight, and incredibly
              powerful making it, arguably, the greatest success story of all
              open source projects.
            </li>
          </ul>
        </div>
      </div>
    </main>

    <%- include("../partials/body-cdn-scripts.ejs"); %>
  </body>
</html>
