<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs"); %>
  </head>
  <body>
    <%- include("../partials/navbar.ejs"); %>

    <main class="container-fluid">
      <!-- * Row 1 -->
      <div class="row">
        <div class="col text-center">
          <h1>Developer Contributions</h1>
        </div>
      </div>
      <!-- * Row 2 -->
      <div class="row">
        <div class="col text-center info-panel">
          <h3>Contribution guide</h3>
        </div>
      </div>
      <!-- * Row 3 -->
      <div class="row">
        <!-- * Spacing div -->
        <div class="col-4 info-panel"></div>

        <div class="col-4 info-panel">
          
            <ul>
              <li>Visit the <a href="https://github.com/lucsedirae/open-house-crm">GitHub repository</a> to clone or fork</li>
              <li>Visit the<a href="https://github.com/lucsedirae/open-house-crm/issues">issues tab</a>
                and select an issue that is NOT marked "DON'T CLOSE"
              </li>
              <li>
                Have an idea for an improvement, new feature, or undocumented
                bug-fix? Feel free to branch, code and submit a pull request or submit an issue.
              </li>
              <li>
                Documentation contributions ALWAYS welcome! This includes
                improving code base with informational comments as well as
                contributing to the official documentation. Docs can be
                submitted in the root directory via pull request and must be in 
                GitHub spec markdown (.md) format.
              </li>
              <li>
                  New developers welcome! The Open House team was founded by 
                  rookie developers and we love to lend a helping hand. If you are confused 
                  with the git process and want to know how to succeed, <a href="mailto:jondeavers@gmail.com">email us</a> 
                  and we can help get you started.
              </li>
            </ul>
          </div>

           <!-- * Spacing div -->
          <div class="col-4 info-panel"></div>
        </div>
      </div>
    </main>
  </body>
</html>
