<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs"); %>
  </head>
  <body>
    <%- include("../partials/navbar.ejs"); %>

    <main class="container-fluid">
      <!-- * Row 1 -->
      <div class="row">
        <div class="col text-center">
          <h1>Developer Log</h1>
        </div>
      </div>
      <!-- * Row 2 -->
      <div class="row">
        <div class="col-6 info-panel">
          <h5>Development Updates</h5>
          <ul>
            <li>
              12/12/20 - <strong>MVC in place</strong> - The
              Model-View-Controller architecture is now in place and ready for
              development
            </li>
            <li>
              12/12/20 - <strong>GitHub landing branch</strong> - openhousecrm.com
              now displays a landing page hosted on Netlify that will link to
              the deployed Node application which will be hosted on Heroku until
              the domain is free to be reassigned to final host. The branch is labeled "landing" in GH.
            </li>
          </ul>
        </div>
        <div class="col-6 info-panel">
            <h5>Planned Development</h5>
            <ul>
              <li>
                <strong>React integration</strong> - React components are slated to start being developed for the UI prior to the end of 2020
              </li>
              <li>
                <strong>User authentication</strong> - A login system will be integrated during the database implementation process.
              </li>
              <li>
                <strong>Database implementation</strong> - Now that our MVC structure is in place we are ready to implement a MongoDB database and start populating using our front-end components.
              </li>
              <li>
                <strong>Production deployment</strong> - Once we have a minimum viable product we will be migrating our hosting to Digital Ocean with the openhousecrm.com domain pointing to it.
              </li>
            </ul>
          </div>
  
      </div>
    </main>

    <%- include("../partials/body-cdn-scripts.ejs"); %>
  </body>
</html>
