<!DOCTYPE html>
<html lang="en">
<head>

    <%- include("../partials/head.ejs"); %>
</head>
<body>
    <%- include("../partials/navbar.ejs"); %>

    <main class="container-fluid">
        <!-- * Row 1 -->
        <div class="row">
            <div class="col text-center">
                <h1>Get Involved</h1>
            </div>
        </div>

    </main>
    
    <%- include("../partials/body-cdn-scripts.ejs"); %>
</body>
</html>