<!DOCTYPE html>
<html lang="en">
<head>

    <%- include("../partials/head.ejs"); %>
</head>
<body>
    <%- include("../partials/navbar.ejs"); %>

    <main class="container-fluid">
        <!-- * Row 1 -->
        <div class="row">
            <div class="col text-center">
                <h1>Open House CRM</h1>
                <p>
                    An open source customer relationship management platform for small businesses and self-employed entrepreneurs
                </p>
            </div>
        </div>
        <!-- * Row 2 -->
        <div class="row">
            <div class="col text-center">
                <button type="button" class="btn btn-info about-btn">Learn More</button>
            </div>
        </div>
    </main>
    
    <%- include("../partials/body-cdn-scripts.ejs"); %>
</body>
</html>