<!DOCTYPE html>
<html lang="en">
<head>

    <%- include("../partials/head.ejs"); %>
</head>
<body>
    <%- include("../partials/navbar.ejs"); %>
    
    <%- include("../partials/body-cdn-scripts.ejs"); %>
</body>
</html>