<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs"); %>
  </head>
  <body>
    <%- include("../partials/navbar.ejs"); %>

    <main class="container-fluid">
      <!-- * Row 1 -->
      <div class="row">
        <div class="col text-center">
          <h1>Register</h1>
        </div>
      </div>
      <!-- * Row 1 -->
      <div class="row">
        <div class="col text-center info-panel">
          <h3>Create an account</h3>
          <form action="/register" method="POST">
            <div class="mb-3">
                <input
                type="name"
                class="form-control"
                id="name"
                name="name"
                aria-describedby="nameHelp"
                placeholder="Name"
                required
              />
            </div>
            <div class="mb-3">
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                aria-describedby="emailHelp"
                placeholder="user@example.com"
                required
              />
              <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div>
            </div>
            <div class="mb-3">
                <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                aria-describedby="passwordHelp"
                placeholder="Password"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          <a href="/login">Login</a>
        </div>
      </div>
    </main>
  </body>
</html>
