<!DOCTYPE html>
<html lang="en">
<head>

    <%- include("../partials/head.ejs"); %>
</head>
<body>
    <%- include("../partials/navbar.ejs"); %>

    <main class="container-fluid">
        <!-- * Row 1 -->
        <div class="row">
            <div class="col text-center">
                <h1>Style Guide</h1>
            </div>
        </div>
        <!-- * Row 2 -->
        <div class="row info-panel">
            <div class="col-6 split-col">
                <h3>Framework</h3>
                <ul> 
                    <li>Bootstrap v5</li>
                    <li>Prefer Bootstrap classes over CSS</li>
                </ul>
            </div>
        </div>
    </main>
    