.root {
  margin: 1rem;
}

.button {
  font-family: "Big Shoulders Display", sans-serif !important;
  font-weight: 600 !important;
  font-size: 20px !important;
  text-transform: lowercase !important;
}

.homeButton {
  font-family: "Big Shoulders Display", sans-serif !important;
  font-weight: 800 !important;
  font-size: 25px !important;
  text-transform: lowercase !important;
  color: white !important;
}

.logoutButton {
  margin-left: auto !important;
  font-family: "Big Shoulders Display", sans-serif !important;
  font-weight: 600 !important;
  font-size: 20px !important;
  text-transform: lowercase !important;
}

.menuButton {
  margin-right: 1rem;
}

.welcome {
  margin-left: auto !important;
  font-family: "Big Shoulders Display", sans-serif !important;
  font-weight: 600 !important;
  font-size: 20px !important;
}
