:root {
  --prism-bground: url(../../img/Subtle-Prism2.svg);
}

.card {
  border: 1px solid #008b8b !important;
  background: var(--prism-bground) !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  padding: 1rem !important;
  height: 100% !important;
}

.cardMedia {
  padding: 1rem !important;
  border-radius: 1rem !important;
}

.devPanel {
  border: 1px solid #008b8b !important;
  background: var(--prism-bground) !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  padding: 30px !important;
}

.devTitle {
  color: #008b8b !important;
  font-family: "Big Shoulders Display", sans-serif !important;
  font-weight: 800 !important;
  padding-top: 2rem !important;
  margin-bottom: 1rem;
}

.devSubtitle {
  color: #008b8b !important;
  font-family: "Big Shoulders Display", sans-serif !important;
  font-weight: 600 !important;
  margin-top: 1rem !important;
  margin-bottom: 1rem;
}

.header {
  font-family: "Big Shoulders Display", sans-serif !important;
  font-weight: 600 !important;
  font-size: 30px !important;
  text-align: center !important;
}

.infoSubtitle {
  color: white !important;
  font-family: "Big Shoulders Display", sans-serif !important;
  font-weight: 800 !important;
  padding-top: 2rem !important;
  margin-bottom: 1rem !important;
}

.infoTitle {
  color: white !important;
  font-family: "Big Shoulders Display", sans-serif !important;
  font-weight: 800 !important;
  padding-top: 2rem !important;
  margin-bottom: 1rem !important;
}

.learnButton {
  font-family: "Big Shoulders Display", sans-serif !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  color: rgb(1, 58, 58) !important;
  display: block !important;
  margin: 0 auto !important;
  margin-top: 1rem !important;
  border: none !important;
}

.loginButton {
  font-family: "Big Shoulders Display", sans-serif !important;
  font-weight: 600 !important;
  font-size: 18px !important;
  background-color: #008b8b !important;
  color: white !important;
  margin-top: 10px !important;
  width: 40% !important;
  display: block !important;
  margin: 10px auto !important;
}

.panel {
  border: 1px solid #008b8b!important;
  background: var(--prism-bground)!important;
  background-repeat: no-repeat!important;
  background-size: cover!important;
  padding: 30px!important;
  background-color: rgba(255, 255, 255, 0.8)!important;
  border-radius: 1rem!important;
  margin-top: 17rem!important;
}

.registerButton {
  font-family: "Big Shoulders Display", sans-serif !important;
  font-weight: 600 !important;
  font-size: 18px !important;
  background-color: #008b8b !important;
  color: white !important;
  width: 40% !important;
}

.subtitle {
  color: rgb(1, 58, 58) !important;
  font-family: "Big Shoulders Display", sans-serif !important;
  font-weight: 800 !important;
  font-size: 17px !important;
  margin-top: 1rem !important;
}

.text {
  color: white !important;
  font-family: "Big Shoulders Display", sans-serif !important;
  font-weight: 800 !important;
  font-size: 17px !important;
  margin-top: 1rem !important;
  padding: 1rem !important;
}

.title {
  color: #008b8b !important;
  font-family: "Big Shoulders Display", sans-serif !important;
  font-weight: 900 !important;
  text-shadow: "-1px 0 #FCE181, 0 2px #FCE181, 2px 0 #FCE181, 0 -1px #FCE181" !important;
}

.titleSpan {
  font-size: 43!important;
  font-weight: 900!important;
  text-shadow: -0.5px 0 #eebc0a, 0 1px #eebc0a, 1px 0 black, 0 -0.5px black!important;
}
